*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
header{
    display: flex;
    width: 90%;
    margin: auto;
}
.logo-container,.cart,.nav-links{
    display: flex;
}
.logo{
    font-weight: bolder;
    margin: 5px;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    color: #060608;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.logo-container{
    flex: 1;
}
nav{
    flex: 10;
}
.cart{
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}
.iphone{
    animation: drop 3s ease;
    filter: drop-shadow(0px 5px 3px black);
    justify-content: flex-end;
}
.intro-text{
    font-weight: bold;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{   
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    color: #2a2a2b;
    background: linear-gradient(to right,#359896,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #2a2a2b;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #359896;
    background: transparent;
    height: 50px;
    width: 150px;
    color: #359896;
    margin-top: 10px;
    cursor: pointer;
}
.cta-add{
    cursor: pointer;
    height: 40px;
    width: 130px;
    background: #359896;
    border: none;
    color: white;
    margin-top: 10px;
}
.cover img{
    height: 40vh;
    justify-content: flex-end;
}
.cover{
    flex: 1;
}
.head-main{
    text-shadow: 2px 2px 5px black;
}
@keyframes drop{
0%{
opacity: 0;
transform: translateY(-80px);
}
100%{
opacity: 1;
transform: translateY(0px);
}
}
.adjust{
    display: flex;
}
@media screen and (max-width:1024px) {
    .presentation{
        flex-direction: column;
    }
    .introduction{
        text-align: center;
    }
    .intro-text h1{
        text-align: center;
    }
    .intro-text p{
        text-align: center;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
}